name: Continuous Integration

on:
  pull_request:
    branches: [api-project-alpine-with-user]
  push:
    branches: [api-project-alpine-with-user]

jobs:
  avoid_redundancy:
    name: avoid redundancy
    runs-on: ubuntu-20.04

    steps:
      - name: cancel workflow action
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
  
  # lint:
  #   needs: [avoid_redundancy]
  #   runs-on: ubuntu-20.04

  #   steps:
  #     - name: checkout project
  #       uses: actions/checkout@v3
  #       with:
  #         # fetch all history for all tags and branches
  #         fetch-depth: 0
  #     - name: rubocop linter action
  #       uses: andrewmcodes/rubocop-linter-action@v3.3.0
  #       env:
  #         GITHUB_TOKEN: ${{ github.token }}
  
  rubocop:
    needs: [avoid_redundancy]
    name: runner / rubocop
    runs-on: ubuntu-20.04

    steps:
      - name: check out code
        uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
      - name: rubocop
        uses: reviewdog/action-rubocop@v2
        with:
          rubocop_version: gemfile
          rubocop_extensions: rubocop-rails:gemfile rubocop-rspec:gemfile rubocop-performance:gemfile
          github_token: ${{ github.token }}
          # Default is github-pr-check
          reporter: github-pr-review
          fail_on_error: true
          filter_mode: diff_context
          level: warning

  tests:
    needs: [avoid_redundancy]
    name: build project for rspec
    runs-on: ubuntu-20.04

    services:
      postgres:
        image: postgres:14.2-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          # needed because the postgres container does not provide a healthcheck
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: install required apt packages
        run: |
          sudo apt-get -yqq install libpq-dev
      - name: checkout project
        uses: actions/checkout@v3
        with:
          # fetch all history for all tags and branches
          fetch-depth: 0
      - name: download ruby and run bundle
        uses: ruby/setup-ruby@v1
        with:
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true
      - name: setup database
        env:
          DATABASE_HOST: localhost
          DATABASE_USERNAME: postgres
          DATABASE_PASSWORD: postgres
          RAILS_ENV: test
        run: |
          bin/rails db:setup

      - name: run rspec
        env:
          DATABASE_HOST: localhost
          DATABASE_USERNAME: postgres
          DATABASE_PASSWORD: postgres
          RAILS_ENV: test
        run: |
          bundle exec rspec
